---
layout: default
title: Home
---
<h1>Albums</h1>
    <ul>
    {% for post in site.categories.albums %}
        {% if post.url %} 
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endif %} 
    {% endfor %}
    </ul>

<h1>Essays</h1>
    <ul>
    {% for post in site.categories.essays %}
        {% if post.url %} 
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
<!--  <dev class="date">{{post.date | date: "%-d %b %Y"}}</dev> -->
            </li>
        {% endif %} 
    {% endfor %}
    </ul>

<footer>
    <p class="nav">
        <span class="left">
            <a href="/about.html">About</a>
        </span>
        <span class="right">
            <a href="/feed.xml">Feed</a>
        </span>
    </p>
</footer>
