<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="/css/main.css">
    </head>
    <body>
        <div class="site">
          <header>
            <!-- <a class="symbol" href="/">&#x2708;&#x2708;&#x2708;</a> -->
            <a class="symbol" href="/">Hentry</a>
          </header>

          {{ content }}

    <!--  umbrella: &#x2602;
          gas pump: 
          airplane: &#x2708;
          triangle: &#x25b2; -->

        </div>
    </body>
</html>
