{% extends "base.html" %}

{% block head %}
  {{ super() }} <!-- adds article description to head, if available -->
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
{% endblock head %}

{% block content %}
<article>
  <header><h1>{{ article.title }}</h1></header>
  <footer>
    {% if article.modified and article.modified != article.date %}
        Revised
        <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.modified|strftime('%-d %b %Y') }}</time>
    {% else %}
        Published
        <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.date|strftime('%-d %b %Y') }}</time>
    {% endif %}
  </footer>

  {{ article.content }}

</article>
{% endblock content %}
