{% extends "base.html" %}

{% block content %}
{% for category in ['Poetry', 'Songs', 'Essays', 'Meta'] %}
    <h2>{{ category }}</h2>
    <ul> 
    {% for article in articles if article.category.name == category %}
        <li>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
    {% endfor %}
    {% for page in pages if page.category.name == category %}
        <li>
        <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
{% endblock content %}
